body {
    margin: 60px auto;
    width: 70%;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 15px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CC873D;
}

footer ul {
    font-family: Georgia, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: left;
}

nav ul li {
float: left;
}

footer ul li {
  float: left;
  text-align: left;
  padding: 3px;
  background-color: white;
  color: #402E1C;
}


a {
  display: block;
  color: #402E1C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover {
    background-color: #E88215;
}
h1 {
    font-size: 3em;
    font-family: Georgia, serif;;
}

h3 {
    font-family: Georgia, serif;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
