<!DOCTYPE html>
<html>
	<head>
		<title>Grace's Home Page</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/offerings">Offerings</a></li>
        		<li><a href="/creative writing">Creative Writing</a></li>
        		<li><a href="/Additional Information">Additional Information</a></li>
    		</ul>
		</nav>
	<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:madigrace@hotmail.co.uk">email</a></li>
        		<li><a href="https://www.instagram.com/waevey.witch/">Instagram</a></li>
			</ul>
		</footer>
	</body>
</html>
